* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  cursor: pointer;
}

.active {
   background-color: #FFD321;
}
.shaddow {
  box-shadow: 0 0 10px 0 rgba(154, 154, 154, 0.16);
  transition-duration: 0.6s;
}
.shaddow:hover {
  box-shadow: 0 14px 10px 0 rgba(154, 154, 154, 0.16);
}
.shaddowphone {
  box-shadow: 0 0 100px 10px rgba(154, 154, 154, 0.16);
  transition-duration: 0.6s;
}

.navbar-color{
  position: fixed;
  /* margin-top: -10px !important; */
  margin-left: -20px;
  background-color: white;
  height: 10vh;
  width: 100%;
  box-shadow: 0 0 0rem 0.001rem rgb(215, 200, 200) !important;
}